<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#faebd7">
<center><h3>
<form action="./insert" method="get">
    ENTER PRODUCTID::<input type="text" name="t1"><br>
    ENTER PRODUCTNAME::<input type="text" name="t2"><br>
    ENTER PRODUCTCOST::<input type="text" name="t3"><br>
    ENTER PRODUCTMFDT::<input type="text" name="t4"><br>
    ENTER PRODUCTEXPDT::<input type="text" name="t5"><br>
    <input type="submit" value="Update">


</form>
    </h3></center>

</body>
</html>